.main {
  background-image: url("./test.jpg");
  background-color: #1f1f1f;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  height: 50em;
  margin-bottom: 5em;
}