.contents {
  width: 15em;
  position: absolute;
  padding-top: 9em;
  padding-right: 110em;
}

.title {
  font-size: 1.6em;
  font-weight: 700;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 0.1em solid gray;
}

.tags {
  display: flex;
  flex-direction: column;
}

.tag {
  font-size: 1.4em;
  margin-bottom: 1em;
}