.nav {
  padding: 2em;
  background-color: transparent;
  box-shadow: 0 0 0.5em 0.01em var(--main--color);
  text-align: center;
  border-bottom: 0.1em solid var(--main--color);
}

.navItem {
  font-size: 1.4em;
  margin: auto 3rem;
  color: black;
}