.nav {
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0rem 5em 1em rgb(26, 26, 26);
}

.navItem {
  font-size: 1.4em;
  margin: auto 3rem;
  color: white;
}

.navItem:hover {
  color: yellow;
}